@*Import System.Runtime.InteropServices

' In SDK-style projects such as this one, several assembly attributes that were historically
' defined in this file are now automatically added during build and populated with
' values defined in project properties. For details of which attributes are included
' and how to customise this process see: https://aka.ms/assembly-info-properties


' Setting ComVisible to false makes the types in this assembly not visible to COM
' components.  If you need to access a type in this assembly from COM, set the ComVisible
' attribute to true on that type.

<Assembly: ComVisible(False)> 

' The following GUID is for the ID of the typelib if this project is exposed to COM.

<Assembly: Guid("07488333-9e1b-4b9b-83e1-b31e65ada9c6")>*@ 
<html>
<head>
    </head>
<body>
    <DIV id="d1" class="shadow-lg p-3 mb-5 bg-body rounded" style="background-color:lawngreen">
        <table>
            <tr>
                <td>
                    <h1 class="font-weight-lighter">OrderConfirmed</h1><br />
                    <img class="img-fluid" width="500" height="500" src="~/Mr.pizza_logo.jpg" />
                </td>
                <td>
                    <h3 class="font-weight-lighter">Thanks for Ordering from Mr.Pizza.:-)</h3>
                </td>
            </tr>
        </table>
    </DIV>
    <DIV id="d1" class="shadow-lg p-3 mb-5 bg-body rounded" style="background-color:yellow">       
        <h1 class="font-weight-lighter">Visit Us Again!!!</h1><br />
</body>
</html>